<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
        <i class="fa fa-address-book"></i>
        My Contacts
    </h1>
    <div id="contact-list-container">
        <ul>
            <% for (let i of contact_list) {
                %>
                <li class="contact">
                    <div class="details">
                        <P><%= i.name %></P>
                        <P><%= i.phone %></P>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?phone=<%= i.phone %>">
                            <i class="fa fa-window-close"></i>
                        </a>
                    </div>
                </li>
                <%
            }
            %>
        </ul>
    </div>
    <form action="/create-contact" method="POST">
       <input type="text" name="name" placeholder="enter your name" required>
       <input type="number" name="phone" placeholder="enter your phone number" required>

       <button type="submit">Add Contact</button>
    </form>
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>